.mainContainer {
  max-width: 1250px;
  max-height: 345px;
  min-width: 1250px;
  min-height: 345px;
  /*background-image: url("./common/img/FOND.png");*/
  background-color: #001889;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "RobotoBlack";
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-family: "RobotoBlack";
}

.manche {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

#divInfoJoueur- > span {
  min-height: 75px;
  display: flex;
  align-items: center;
}

#divInfoJoueur {
  display: flex;
  flex-direction: column;
}

.rowh {
  display: flex;
  flex-direction: row;
  min-height: 75px;
}

.infoGame {
  font-size: 60px;
  display: inline-block;
  vertical-align: middle;
}

.name {
  min-width: 630px;
  max-width: 630px;
}

.set {
  background-color: #d9d9d9;
  color: #001889;
  font-weight: bolder;
}

.leg {
  background-color: #d9d9d9;
  color: #001889;
  font-weight: bolder;
}

.score {
  width: 200px;
  text-align: right;
}

.activ {
  background: url(./common/img/fleche.svg) no-repeat center center;
  background-size: 80% 80%;
}

.inactiv {
  background: none;
  background-size: 80% 80%;
}

.starterLeg {
  background: url(./common/img/point.svg) no-repeat center center;
  background-size: 25% 25%;
}

#stadeCompetition {
  color: #d9d9d9;
  font-size: 40px;
  top: 10px;
  left: 10px;
  font-family: "RobotoBlack";
}

#nbrMancheGagnante {
  min-width: 630px;
  width: 630px;
  max-width: 630px;
}

@font-face {
  font-family: "Roboto";
  src: url("./common/Roboto-Light.ttf");
}

@font-face {
  font-family: "RobotoBlack";
  src: url("./common/Roboto-Regular.ttf");
}
